<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>

<body>
    <h2>Inventory</h2>
    <a href="/inventory/new">Add New</a>
        <table th:if="${itemList != null AND !itemList.isEmpty()}">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${itemList}">
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.amount}"></td>
                    <td>
                        <button><a href="/new/${item.id}"></a>Edit</button>
                        <button onclick="sendDelete('${item.id}')">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p th:if="${itemList == null OR itemList.size() == 0}">There are no items in inventory</p>
    </div>
</body>

</html>